/* Style the tab */
body, html {
    padding: 3px 3px 3px 3px;
    font-family: sans-serif;
    font-size: 1em;
    color: black;
    background: white;
	max-width: 60em;
	margin: 1em auto;
}

figure {
  text-align: center; 
  border: 1px solid transparent;
}

@media (min-width: 30em) { /* Bilder nur nebeneinander, wenn es breit genug ist;  mindestens 30em */ 
figure figure {
  text-align: left;
  width: 40%;
  display: inline-block;
}
}

footer {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  border-top: 1px solid grey;
  margin-top: 2em;
}
footer .copy {
  text-align:right;
}

/*Box für Hinweis */ 
.hinweis { 
	border:1px solid black; 
	padding: 1em;
}
.hinweis p:first-of-type {
	color: red;
	font-weight: bold;
	text-align: center;
}


/* Verlinke nicht auf aktuelle Seite, kennzeichne diese aber! */
[aria-current] {
	font-weight:bold;
	color:black;
	text-decoration:none;
}

#backlink {
  font-size: 2em;
  font-weight: bold;
  color: black;
  text-decoration:none;
}

code, var {
  font-family: monospace;
  font-size: 1rem;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* hide the google translate stuff */
#google_translate_element{width:300px;float:right;text-align:right;display:block}
.goog-te-banner-frame.skiptranslate { display: none !important;} 
body { top: 0px !important; }
#goog-gt-tt{display: none !important; top: 0px !important; } 
.goog-tooltip skiptranslate{display: none !important; top: 0px !important; } 
.activity-root { display: hide !important;} 
.status-message { display: hide !important;}
.started-activity-container { display: hide !important;}

table,
th,
td {
	border: 1px solid #a0a0a0;
}

table {
	border-collapse: collpase;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.75em;
	table-layout: fixed;
	/* Prevents HTML tables from becoming too wide */
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
    background-color: #f1f3f4;
	font-weight: 700;
}

td {
	border-width: 0 1px 1px 0;
}

th,
td {
	padding: 0.4375em;
}

